* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: '#303030';
}

p {
  margin: 0 0 5px 0;
  line-height: 1.4;
}

a {
  color: '#303030';
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
